.contPrinc {
  height: 100vh;
  background-color: rgb(10, 63, 45);
}

.logo {
  height: 25vmin;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 59vmin;
}

li {
  padding: 10px;
  background-color: #f0f0f041;
  margin: 5px 0;
}
